/client/node_modules
/client/.DS_Store
/client/dist
/client/dist-ssr
/client/*.local
/client/count.txt
/client/.env
/client/.nitro
/client/.tanstack
/client/.wrangler
/client/.output
/client/.vinxi
/client/todos.json