[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-doc = "==0.0.4"
annotated-types = "==0.7.0"
anyio = "==4.12.1"
asgiref = "==3.11.0"
certifi = "==2026.1.4"
click = "==8.3.1"
colorama = "==0.4.6"
distlib = "==0.4.0"
django = "==6.0.1"
djangorestframework = "==3.16.1"
djangorestframework-simplejwt = "==5.5.1"
filelock = "==3.20.3"
h11 = "==0.16.0"
idna = "==3.11"
packaging = "==25.0"
pillow = "==12.1.1"
pipenv = "==2026.0.3"
platformdirs = "==4.5.1"
psycopg2-binary = "==2.9.11"
pydantic-core = "==2.41.5"
pyjwt = "==2.11.0"
python-decouple = "==3.8"
python-dotenv = "==1.2.1"
sqlparse = "==0.5.5"
typing-inspection = "==0.4.2"
typing-extensions = "==4.15.0"
tzdata = "==2025.3"
virtualenv = "==20.36.1"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.14"
